body{
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
Aqui comienza el estilo del header comun a todos los ficheros
*/

.header{
    height: 20rem;
}

.barra_superior{
    background-color: rgba(128, 128, 128, 0.705);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botones{
    padding: 1rem;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.botones:hover{
    background-color: rgba(128, 128, 128, 0.755);
    color: white;
}

.menu_registro{
    display: flex;
    justify-content: flex-end;
    padding: 3rem 5rem 0rem 0rem;
}

.menu_registro a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    cursor: pointer;
}

/*
Esto es solo para visualizar
*/
.menu_registro a:hover{
    background-color: red;
}


/*
----------------------------Parte del header------------------------------
Contenedor que va a tener el logo, la barra de busqueda y la de navegacion
*/


.menu{
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#barra_busqueda{
    padding-top: 5rem;
}

#busqueda{
    height: 2rem;
    border-radius: 1rem;
    width: 20rem;
    padding-left: 1rem;
    background-color: rgba(128, 128, 128, 0.705);
    border: 1px solid black; 
}

.menu img{
    justify-content: flex-start;
}


/*
----------------------------Parte del header------------------------------
Comienzo de la barra de navegacion para poder seleccionar los iconos y entrar a diferentes secciones
*/


.menu nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
}

.menu ul{
    float: right;
    padding-right: 2rem;
}

.menu nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li{
    padding-right: 3rem;
}

.menu a{
    color: black;
    font-size: xx-large;
    text-decoration: none;
}


.menu a:hover{
    cursor: pointer;
    color: red;
}


/*
----------------------------Parte del header------------------------------
Comienzo del submenu para tener las categorias de hombre y mujer
*/


.tipo{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.705);
    height: 3rem;
}

.tipo a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 20%;
    padding: 1rem 3rem 1rem 1rem;
    color: black;
}

.tipo a:hover{
    background-color: rgba(128, 128, 128, 0.755);
    color: white;
}


/*
-----------------Fin del header comun y comienzo del footer comun----------------
Acaba el header comun a todos los ficheros y empieza el footer comun
*/


#footer{
    height: 10rem;
    background-color: rgba(128, 128, 128, 0.705);
    display: flex;
    justify-content: space-between;
}

#texto{
    padding-top: 8rem;
    padding-left: 1rem;
}

.separador{
    display: flex;
    padding: 4rem 4rem 0rem 4rem;
    font-size: xx-large;
}

.separador i{
    padding: 0rem 2rem 2rem 0rem;
}


/*
-----------------Fin del footer comun y comienzo del Main del Index----------------
Acaba la parte comun de todos los ficheros (header y footer) y comienza los main de cada uno de los ficheros
*/


main{
    padding-top: 5rem;
}


.foto_main{
    background-image: url(../imagenes/tienda.jpeg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
------------------Comienzo de articulos recomendados------------------
Comienza la seccion de articulos recomendados
*/


.articulos{     /* Clase que da estilo a los titulos de las secciones */
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
}

.imagenes_articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    height: 20rem;
    width: 100%;
}

.imagenes_articulos img{
    height: 10rem;
    width: fit-content;
    padding: 3rem;
}

.seccion_articulos{
    height: 35rem;
    margin-top: 5rem;   /* hay que modificar el margin top para que no de error al hacerlo responsive */
}

/*
----------Finaliza articulos recomendados y empieza Ventas Populares-------------
Finaliza la seccion de articulos recomendados y empieza ventas populares 
*/


.seccion_ventas{
    background-color: rgba(203, 202, 202, 0.181);
    margin-bottom: 10rem;   /* hay que modificar el margin botton */
}

.imagenes_ventas_populares {
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.imagenes_ventas_populares img{
    height: 30rem;
    width: 20rem;
    padding: 0rem 1rem 0rem 1rem;
}

.fotos_ventas_populares {
    display: flex;
    flex-direction: column; 
}

.fotos_ventas_populares img{
    height: 14rem;
    width: 20rem;
    object-fit: cover;
}

#foto_abajo{
    padding-top: 2rem;
}


/*
----------Finaliza el Main del index y comienzo de sobre nosotros-------------
Finaliza el main del index y comienza el Main del sobre nosotros
*/


.nuestra_contenedor{
    display: flex;
}

.título{
    text-align: center;
}

.nuestra_historia{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 20rem;
    height: 20rem;
}

.nuestra_historia img{
    padding-left: 5rem;
    padding-right: 5rem;
}

    
/*
----------Finaliza el Main de nuestra historia y comienzo de ayuda-------------
Finaliza el main de nuestra historia y comienza el Main de ayuda
*/


.tituloAyuda{
    text-align: center;
}

.parrafoAyuda{
    text-align: justify;
}


/*
----------Finaliza el Main de ayuda y comienza el de contacto-------------
Finaliza el main de ayuda y comienza el Main de contacto
*/

/* Estilo para el título */
.título {
    text-align: center;
    margin-top: 20px;
  }
  .título h6 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .fila_contacto{
    display: flex;
    flex-direction: row;
  }
  
  /* Estilo para la ubicación */
  .ubicación {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px; 
  }
  .ubicación .mapa {
    width: 80%;
    height: 90%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .ubicación .pie {
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  
 /* Estilo para el teléfono y el correo electrónico */
.telefonoymail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  .telefonoymail .teléfono, .telefonoymail .mail {
    padding-right: 100px;
  }
  .telefonoymail .uil {
    font-size: 80px;
  }
  .telefonoymail p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  /* Estilo para el horario */
  .horario {
    text-align: center;
    margin-top: 50px;
  }
  .horario p {
    font-size: 20px;
    margin: 0;
  }
  
  /* Estilo para las redes sociales */

  .instaytwitter{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .RRSS {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .RRSS h6 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .RRSS .uil {
    font-size: 80px;
    margin-right: 10px;
  }
  .RRSS p {
    font-size: 16px;
    margin: 0;
  }

  .instagram{
    margin-right: 50px;
  }


/*
.contact_main{
    position: relative;
    top: -200px;
}
.contacto{
    text-align: center; 
    position: relative;
    top: 150px;
    left: 450px;
}

.mapa {
max-width: 50%;
position: relative;
top: -200px;
left: 100px;
}

.pie {
position: relative;
text-align: center;
top: -210px;
right: 230px;
}


.teléfono{
    position: relative;
    left: 900px;
    top: 300px;
    font-size: 4rem;
}

.sobre{
    position: relative;
    left: 900px;
    top: 345px;
    font-size: 4rem;
}

.cinsta{
    position: relative;
    left: -160px;
    top: -70px;
    font-size: 5rem;
}

.ctwitter{
    position: relative;
    left: 160px;
    top: -160px;
    font-size: 5rem;
}

.horario{
    text-align: center;
    position: relative;
    top: 270px;
    left: 400px;
}

.RRSS{
    text-align: center;
    position: relative;
    top: -100px;
}
*/

/*
----------Finaliza el Main de contacto y comeinzo de la cesta-------------
Finaliza el main de contacto y comienza de la cesta
*/

   
#seccion_cesta{
    padding: 4rem;
    padding-top: 2rem;
}

#header_cesta{
    justify-content: center;
    display: flex;
    font-size: xx-large;
    padding-bottom: 4rem;
}

    /* -------------Comienzo de los articulos de la cesta-------------*/

.cesta{
    height: 8rem;
    padding-left: 2rem;
    width: 45rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.cesta a{
    padding-top: 3rem;
    font-size: xx-large;
}


.cesta a:hover{
    cursor: pointer;
    color: red;

}

.producto{
    display: flex;
}

.producto img{
    object-fit: fill;
    padding-top: 1rem;
    padding-left: 3rem;
    width: 10rem;
    height: 6rem;
}

.producto h5{
    padding-left: 1rem;
    padding-top: 2.5rem;
    font-size: medium;
}

.producto form{
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: medium;
}

    /* -------------Finalizacion de los articulos de la cesta-------------*/


    /* -------------Comienzo del resumen del pago-------------*/


#resumen_pago{
    display: flex;
    flex-direction: column;
    background-color: rgba(205, 203, 203, 0.543);
    width: 25rem;
    height: 25rem;
    align-items: center;
}

#resumen_pago h4{
    padding-top: 1rem;
    font-size: x-large;
    margin: 10px;
}


#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#contenedor_articulos{
    display: flex;
    flex-direction: column;
}

#cupon{
    resize: none;   
}

#boton_validar{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    border: 1px solid black;
    background-color: rgb(184, 184, 184);
}

#validar_cupon{
    display: flex; 
}

#subtotal{
    height: 5rem;
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
}

.auxiliar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
}

.auxiliar h6{
    font-size: medium;
    padding: 5px;
    margin: 0px;
    font-weight: lighter;
}

#precio, #envio{
    padding-left: 1rem;
}

#total{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

#total h6{
    font-size: medium;
    font-weight: lighter;
    margin: 2px;
    padding: 0px;
    justify-content: space-between;
}

#pagar{
    border: 1px solid black;
    background-color: rgb(184, 184, 184);
    height: 2rem;
    width: 15rem;
}
    /* -------------Finalizacion del resumen del pago-------------*/


/*
----------Finaliza el Main de cesta y comienzo de la lista de favoritos-------------
Finaliza el main de la cesta y comienza de la lista de favoritos
*/


.producto_favorito{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 15rem;
    justify-content: center;
    height: 15rem;
}

.producto_favorito img{
    height: 11rem;
    width: 11rem;
    padding-left: 2rem;
    object-fit: scale-down;
    padding-top: 2rem;
}

.producto_favorito a{
    justify-content: center;
    display: flex;
    font-size: xx-large;
    color: red;
}

.margen_izquierda{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.bloques{
    padding-top: 2rem;
    display: flex;
    width: 60rem;
    justify-content: space-between;
}

#favoritos_seccion{
    padding-bottom: 5rem;
}

#favoritos_seccion h4{
    font-size: xx-large;
    display: flex;
    justify-content: center;
}


/*
----------Finaliza el Main de la lista de favoritos y comienza el main del producto -------------
Finaliza el main de la lista de favoritos y comienza el main del producto
*/


#bloque_producto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bloque_producto img{
    width: 30rem;
    height: fit-content;
    padding-left: 10rem;
    padding-right: 10rem;
}

#bloque_informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15rem;
    padding-left: 5rem;
}

#bloque_informacion h5, h6{
    font-size: medium;
    margin: 0px;
    padding: 2px;
}

#bloque_informacion h6 {
    font-size: small;
}

#bloque_interacciones{
    display: flex;
    width: 35em;
    justify-content: center;
    font-size: large;
}

#iconos{
    font-size: x-large;
    padding-left: 2rem;   
}

#contenedor_general{
    padding-top: 2rem;
    display: flex;
    height: 4rem;
    flex-direction: row;
    justify-content: space-between;
}

#contenedor_estrellas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    width: 65rem;
}

#reseña{
    display: flex;
    justify-content:flex-end;
}

#bloque_reseña{
    display: flex;
    width: 50rem;
    justify-content: center;
    margin-bottom: 2rem;
}


/*
----------Finaliza el Main de producto y empieza el main de hombre y mujer -------------
Finaliza el Main de producto y empieza el main de hombre y mujer
*/

#contenedor_general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    padding-bottom: 5rem;
}

#contenedor_filtros{
    background-color: rgba(128, 128, 128, 0.205);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: auto;
}

#contenedor_filtros hr{
    padding-top: 2px;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 10rem;
    background-color: grey;
}


#contenedor_filtros form{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#contenedor_articulos_tienda{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 75rem;
}

#check{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#check div{
    padding-left: 0.2rem;
}

#header_articulos h5{
    display: flex;
    font-size: xx-large;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}


/*
----------Finaliza el Main de hombre y mujer y empieza el main de perfil -------------
Finaliza el Main de hombre y mujer y empieza el main de perfil
*/


#conteendor_general_perfil{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contenedor_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    font-size: x-large;
}

#contenedor_perfil img{
    border: 1px solid black;
    object-fit: fill;
    border-radius: 10rem;
    height: 15rem;
    width: 15rem;
}

#contenedor_perfil div{
    padding: 2rem;
    margin-bottom: 4rem;
    
}

#contenedor_boton{
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.205);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 20rem;
}

#contenedor_boton button{
    height: 2rem;
    width: 8rem;
    margin: 0.5rem 1rem;
}

#contenedor_derecha{
    display: flex;
    flex-flow: column wrap;
    width: 40rem;   
}

#contenedor_informacion{
    display: flex;
    flex-direction: row;
    height: 15rem;
    margin-left: 10rem;
    background-color: rgba(128, 128, 128, 0.205);
    border: 1px solid black;
}

#contenedor_informacion div{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

#contenedor_informacion label{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 10rem;
    font-size: medium;
    background-color: aliceblue;
    height: 1rem;
    margin: 1rem;
}

#contenedor_interior{
    padding: 2rem 0rem;
}



/*
COMIENZO DEL SPRINT 2 (MEDIA QUERYS)
*/

/*TABLET*/
@media (max-width: 991.98px){
    .botones_ayuda{
        display:none;
    }

    /*CONTACTO*/
    .fila_contacto{
        flex-direction: column;
      }
    
    .telefonoymail {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    
    .telefonoymail .teléfono, .telefonoymail .mail {
        padding-left: 20px;
        padding-right: 0px;
      }

    
    /*PRODUCTO*/
    
    #bloque_producto{
        flex-direction: column;
        justify-content: center;
    }

    #bloque_producto img{
        height: 50%;
        width: 50%;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    #bloque_informacion{
        padding-right: 5rem;
        padding-left: 5rem;
    }

    #contenedor_general{
        flex-direction: column;
        justify-content: center;
    }

    #bloque_interacciones{
        flex-direction: column;
        padding-left: 250px;
    }

    #iconos{
        padding-left: 4rem; 
        margin-top: 20px;  
    }

    #contenedor_general{
        flex-direction: column;
    }

    #contenedor_estrellas{
        margin-top: 20px;
        padding-left: 0px;
        margin-right: 30px;
    }

    #bloque_reseña{
        width: 33rem;
        padding-left: 0px;
    }

}

/*CASO INTERMEDIO*/
@media (max-width: 1170px){

    /*PRODUCTO*/
    
    #bloque_producto img{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #contenedor_general{
        flex-direction: column;
        justify-content: center;
    }

    #contenedor_estrellas{
        margin-top: 20px;
        padding-left: 0px;
    }

    #bloque_interacciones{
        margin-left: 10px;
    }

}


/* MOVIL */
@media (max-width: 575.98px) {
    /*AYUDA*/
    .botones_ayuda{
        display:none;
    }

    /*FAVORTIOS*/
    .bloques {
        display: flex;
        flex-wrap: wrap;
      }
    .bloques > * {
        flex: 0 0 50%;
        max-width: 50%;
      }
    
    /*PRODUCTO*/
    
    #bloque_producto{
        flex-direction: column;
        justify-content: center;
    }

    #bloque_producto img{
        height: 50%;
        width: 50%;
    }

    #bloque_informacion{
        padding-right: 5rem;
        padding-left: 5rem;
    }

    #contenedor_general{
        flex-direction: column;
        justify-content: center;
    }

    #bloque_interacciones{
        flex-direction: column;
        padding-left: 150px;
    }

    #iconos{
        padding-left: 4rem; 
        margin-top: 20px;  
    }

    #contenedor_estrellas{
        width: 30rem;
        margin-top: 20px;
        padding-left: 0px;
    }

    #bloque_reseña{
        width: 33rem;
        padding-left: 50px;
    }

    

    /*CONTACTO*/
    .fila_contacto{
        flex-direction: column;
      }
    
    .telefonoymail {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    
    .telefonoymail .teléfono, .telefonoymail .mail {
        padding-left: 20px;
        padding-right: 0px;
      }
    

    
}




