body{
    width: 100%;
    overflow-x: hidden;
    margin: 0px;

}


.header{
    height: 20rem;
}

.barra_superior{
    background-color: rgba(128, 128, 128, 0.705);
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.botones{
    padding: 1rem;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.botones:hover{
    background-color: rgba(128, 128, 128, 0.755);
    color: white;
}

.menu_registro{
    display: flex;
    justify-content: flex-end;
    padding: 3rem 5rem 0rem 0rem;
    
}

.menu_registro a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    cursor: pointer;

}



/*
Esto es solo para visualizar
*/
.menu_registro a:hover{
    background-color: red;

}


.menu{
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#barra_busqueda{
    padding-top: 5rem;
}

#busqueda{
    height: 2rem;
    border-radius: 2rem;
    width: 20rem;
    padding-left: 1rem;
    border-radius: solid;
}

.menu img{
    justify-content: flex-start;
}

.menu nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
}

.menu ul{
    float: right;
    padding-right: 2rem;
}

.menu nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.menu li{
    padding-right: 3rem;
    
    
}

.menu a{
    color: black;
    font-size: xx-large;
    text-decoration: none;
    
}


.menu a:hover{
    cursor: pointer;
    color: red;
}

.tipo{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.705);
    height: 3rem;
}

.tipo a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 20%;
    padding: 1rem 3rem 1rem 1rem;
    color: black;
}

.tipo a:hover{
    background-color: rgba(128, 128, 128, 0.755);
    color: white;
    
}


/*
Aqui acaba el header y empieza el main del index
*/


main{
    padding-top: 5rem;
}

.foto_main{
    background-image: url(./imagenes/tienda.jpeg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
Aqui empieza el articulos recomendados
*/


/* estilo a los textos de ventas populares y articulos recomendados*/
.articulos, .ventas_populares{ 
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagenes_articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    height: 20rem;
    width: 100%;
}

.imagenes_articulos img{
    height: fit-content;
    width: fit-content;
    padding: 3rem;
}

.seccion_articulos{
    height: 35rem;
    margin-top: 5rem;
    /*
    hay que modificar el margin top
    */
}

/*
Aqui acaba el articulos recomendados y comienza ventas populares 
*/

.seccion_ventas{
    background-color: rgba(203, 202, 202, 0.181);
    margin-bottom: 10rem;
    /*
    hay que modificar el margin botton
    */
}

.imagenes_ventas_populares {
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.imagenes_ventas_populares img{
    height: 30rem;
    width: 20rem;
    padding: 0rem 1rem 0rem 1rem;
    
}

.fotos_ventas_populares {
    display: flex;
    flex-direction: column;
    object-fit: fill;
}

.fotos_ventas_populares img{
    height: 14rem;
}

#foto_abajo{
    padding-top: 2rem;

}



/*
Acaba el main del index
*/


/*
Empieza el footer
*/



footer{
    height: 10rem;
    background-color: rgba(128, 128, 128, 0.705);
    display: flex;
    justify-content: space-between;
}

#texto{
    padding-top: 8rem;
    padding-left: 1rem;
}

.separador{
    display: flex;
    padding: 4rem 4rem 0rem 4rem;
    font-size: xx-large;

}

.separador i{
    padding: 0rem 2rem 2rem 0rem;

}




/*
Termina el footer
*/


/*
NUESTRA HISTORIA
*/

.título{
    text-align: center;
}

.nuestra_historia{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5rem;
    height: 20rem;
    width: 100%;

}

    
/*
AYUDA
*/

.tituloAyuda{
    text-align: center;
}

.parrafoAyuda{
    text-align: justify;

}

/*
CONTACTO
*/

.contacto{
    text-align: center; 
    position: relative;
    top: 250px;
    left: 450px;
}

  
  .mapa {
    max-width: 50%;
    position: relative;
    top: -100px;
    left: 100px;
  }
  
  .pie {
    position: relative;
    text-align: center;
    top: -110px;
    right: 230px;
  }

.horario{
    text-align: center;
    position: relative;
    top: 370px;
    left: 400px;
}

.RRSS{
    text-align: center;
    position: relative;
    top: 50px;
}

/*
Main de la cesta
*/


#encabezado_cesta{
    padding: 4rem;
    padding-top: 2rem;
    
}

.cesta{
    
    height: 8rem;
    padding-left: 2rem;
    width: 45rem;
    border: solid;
    border-style: groove;
    margin-bottom: 1rem;
}



.cesta a{
    padding-top: 3rem;
    font-size: xx-large;
}


.cesta a:hover{
    cursor: pointer;
    color: red;

}

.producto{
    display: flex;
}


.producto img{
    object-fit: fill;
    padding-top: 1rem;
    padding-left: 3rem;
    width: 10rem;
    height: 6rem;
}

.producto h5{
    padding-left: 1rem;
    padding-top: 2.5rem;
    font-size: medium;
}

.producto form{
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: medium;
}

#header_cesta{
    justify-content: center;
    display: flex;
    font-size: xx-large;
    padding-bottom: 4rem;
}


.resumen_pago{
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    width: 25rem;
}

.resumen_pago h4{
    justify-content: center;
    display: flex;
}


#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5rem;
    
}






#contenedor_articulos{
    display: flex;
    flex-direction: column;
}