<div id="contenedor_general_perfil">
    <div id="contenedor_derecha">
        <div id="contenedor_interior">
            <div id="contenedor_informacion">
                <div>
                    <label for="">Nombre</label>
                    <label for="">Apellidos</label>
                    <label for="">Telefono</label> 
                </div>

                <div>
                    <label for="">Correo electronico</label>
                    <label for="">Contraseña</label>
                    <label for="">Nombre de usuario</label> 
                </div>
            </div>
        </div>
    </div>
</div>
