
#contenedor_login_general{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

}

.contenedor_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    background-color: rgba(117, 117, 117, 0.34);
}

.contenedor_login form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social_media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.social_media button{
    border: 1px solid black;
    border-radius: 5rem;
    width: 15rem;
    height: 2rem;
    margin: 0.1rem;
}

#contenedor_interior{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: 2rem;
}

#contenedor_interior input{
    height: 2rem;
    width: 15rem;
}

.boton_login{
    margin-top: 1rem;
}

#boton_perfil{
    padding-top: 2rem;
    font-size: 4rem;
    height: min-content;
}

#formulario_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}