<div id="contenedor_login_general">
    <div class="contenedor_login">
        <i id="boton_perfil" class='uil uil-user-circle'></i>
        <form id="formulario_login">
            <div class="social_media">
                <button class="google sign-in"><i class="uil uil-google"></i> Iniciar Sesion con Google</button>
                <button class="facebook sign-in"><i class="uil uil-facebook"></i> Iniciar Sesion con Facebook</button>
                <button class="apple sign-in"><i class="uil uil-apple"></i> Iniciar Sesion con Apple</button>

                <div id="contenedor_interior">
                    <input type="text" id="username" class="input_login" name="username" placeholder="Nombre"  [(ngModel)]="cuadroNombre">
                    <input type="text" id="name" class="input_login" name="name" placeholder="Apellidos"  [(ngModel)]="cuadroApellidos">
                    <input type="text" id="nick" class="input_login" name="nick" placeholder="Nombre de Usuario"  [(ngModel)]="cuadroNick">
                    <input type="text" id="correo" class="input_login" name="correo" placeholder="Correo"  [(ngModel)]="cuadroCorreo">
                    <input type="text" id="tel" class="input_login" name="telefono" placeholder="Telefono"  [(ngModel)]="cuadroTelefono">
                    <input type="password" id="password" class="input_login" name="password" placeholder="Contraseña"  [(ngModel)]="cuadroClave">
                    <input type="submit" class="boton_login" value="Iniciar Sesión" (click)="agregarUsuario()">
                    <p class="mensaje">¿Olvido su contraseña?</p>
                </div>   
            </div>
        </form>
    </div>
</div>


<h3>Prueba de formulario</h3>
<div *ngFor="let aux of persona">
    {{aux.nombre}} {{aux.apellidos}} {{aux.nick}} {{aux.correo}} {{aux.telefono}} {{aux.clave}}

</div>

