.foto_main{
    background-image: url("../../../assets/tienda.jpeg");
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#principal h4{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: oblique;
}

#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    height: 20rem;
    width: 100%;
    
}


#contenedor div img{
    height: 10rem;
    object-fit: fill;
    padding: 3rem;
}


.articulos{     /* Clase que da estilo a los titulos de las secciones */
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: italic;
}

.imagenes_articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    height: 20rem;
    width: 100%;
}

.imagenes_articulos img{
    height: 10rem;
    object-fit: fill;
    padding: 3rem;
}

.seccion_articulos{
    height: 35rem;
    margin-top: 5rem;   /* hay que modificar el margin top para que no de error al hacerlo responsive */
}

/*
----------Finaliza articulos recomendados y empieza Ventas Populares-------------
Finaliza la seccion de articulos recomendados y empieza ventas populares 
*/


.seccion_ventas{
    background-color: rgba(203, 202, 202, 0.181);
    margin-bottom: 10rem;   /* hay que modificar el margin botton */
}

.imagenes_ventas_populares {
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.imagenes_ventas_populares img{
    height: 30rem;
    width: 20rem;
    padding: 0rem 1rem 0rem 1rem;
}

.fotos_ventas_populares {
    display: flex;
    flex-direction: column; 
}

.fotos_ventas_populares img{
    height: 14rem;
    width: 20rem;
    object-fit: cover;
}

#foto_abajo{
    padding-top: 2rem;
}



@media (max-width: 991.98px){

    .tipo{
        margin-top: 3rem;
    }
    

    .imagenes_articulos img{
        height: 13rem;
        width: 13rem;
        padding: 3rem;
        object-fit: scale-down;
    }


    #foto_eliminada{
        display: none;
    }


    .seccion_ventas{
        display: none;
    }
    .foto_main{
        background-attachment: scroll;
        height: 20rem;
        background-size: cover;
    }
}



@media (max-width: 850px){
    /*--------------------------MAIN--------------------------*/
    
        .imagenes_articulos {
            display: flex;
            flex-direction: row;
            justify-content: center;   
        }
    
        #foto_eliminada2{
            display: none;
        }
    
        
    
}



/* --------------------------------------------------------------
------------------MEDIA QUERY CASO INTERMEDIO--------------------
----------------------------------------------------------------*/
@media (max-width: 1170px){

    /*--------------------------MAIN--------------------------*/
    
        .imagenes_articulos img{
            width: 25%;
            object-fit: scale-down;
        }
    
        .seccion_ventas{
            display: none;
        }
    
        .imagenes_articulos{
            -webkit-transform:scale(0.75);
            transform:scale(0.75);
        }
}


@media (max-width: 575.98px) {
    .imagenes_articulos{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20rem;
    }

    .imagenes_articulos img{
        object-fit: cover;
    }

    #foto_eliminada3{
        display: none;
    }

}