
.texto p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.tituloAyuda{
    text-align: center;
}

.parrafoAyuda{
    text-align: justify;
}

.botones{
    padding: 1rem;
    font-style: normal;
    text-decoration: none !important;
    color: black !important;
}


.botones:hover{
    background-color: rgba(128, 128, 128, 0.755);
    color: white;
}


/*TABLET*/
@media (max-width: 991.98px){
    .botones_ayuda{
        display:none;
    }
}


@media (max-width: 575.98px) {
    /*AYUDA*/
    .botones_ayuda{
        display:none;
    }

}