
#footer{
    height: 10rem;
    background-color: rgba(128, 128, 128, 0.705);
    display: flex;
    justify-content: space-between;
}

#texto{
    padding-top: 8rem;
    padding-left: 1rem;
}

.separador{
    display: flex;
    padding: 4rem 4rem 0rem 4rem;
    font-size: xx-large;
}

.separador i{
    padding: 0rem 2rem 2rem 0rem;
}