<div id="contenedor_general_perfil">

    <div id="contenedor_perfil">
        <div id="contenedor_foto">
            <img src="../../../assets/imagen1.jpeg" alt="">
            <a class="uil uil-pen"></a>
        </div>

        <div id="contenedor_boton">
            <button>Editar Perfil</button>
            <button>Editar Domicilio</button>
            <button>Mis pedidos</button>
        </div>
    </div>

    <div class="contenedor">
        <app-contenedor-perfil></app-contenedor-perfil>
        <app-contenedor-perfil></app-contenedor-perfil>
    </div>
    

</div>