
<div class="barra_superior">
    <a href="../SobreNosotros.html" class="botones">Sobre Nosotros</a>
    <a href="../ayuda.html" class="botones">Ayuda</a>
    <a href="../contacto.html" class="botones">Contacto</a>
</div>

<div class="menu_registro">
    <a href="">Iniciar Sesion</a>
    <a href="">Registrarse</a>
</div>

<div class="menu">
    <img src="../imagenes/jc.jpeg" alt="" srcset="">
    

    <div id="barra_busqueda">
        <input id="busqueda" type="search" value="Buscar...">
    </div>

    <nav>
        <ul>
            <li><a href="../index.html" class="uil uil-home"></a></li>
            <li><a href="../favoritos.html"class="uil uil-heart-alt"></a></li>
            <li><a href="../cesta.html"class="uil uil-shopping-bag"></a></li>
            <li><a href="../perfil.html"class="uil uil-user-circle"></a></li>
        </ul>
    </nav>

</div>

<div class="tipo">
    <a href="../hombre.html">Hombre</a>
    <a href="../mujer.html">Mujer</a>
</div>

