<div class="margen_izquierda">
    <div class="bloques">
        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>

        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>

        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>

        
    </div>

    <div class="bloques">
        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>

        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>

        <div class="producto_favorito">
            <img src="../imagenes/nike-2.jpeg" alt="" srcset="">
            <a class="uil uil-heart-alt"></a>
        </div>
    </div>       

</div>