<!--
<div class="section_shop_right">
    <h4 id="favoritos">Tu lista de favoritos</h4>
    <div class="container-fluid align-items-center">
        <div class="row product-container" id="product-container"></div>
    </div>
</div>

-->

<h4 id="favoritos">Tu lista de favoritos</h4>
<div class="general col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
  <div class="product_card" *ngFor="let aux of snk">
    <div class="image" [ngStyle]="{ backgroundImage: 'url('+aux.url+')' }"></div>
      <div class="detalles">
          <h4 id="sneaker_name">{{aux.nombre}}</h4>
          <div>
              <h5 id="price">{{aux.precio}}</h5>
              <a id="heart" class="uil uil-heart-alt"></a>
          </div>
      </div>
  </div>
</div>


<!--
<div class="places">
  <div class="place" *ngFor="let aux of snk">
      
        <div class="image" [ngStyle]="{ backgroundImage: 'url('+aux.url+')' }"></div>
      <div class="info">
          <h4>{{aux.nombre}}</h4>
      </div>
  </div>
</div>  
-->