<div class="contacto">
    <div class="título">
        <h6>Contacta con Nosotros</h6>
    </div>

    <div class="fila_contacto">
        <div class="ubicación">
            <img class="mapa" src="../../../assets/mapa.png" alt="" srcset="">
            <p class="pie">Puedes visitarnos en
                <br>C. Pío XII, 81, 35006 Las Palmas de Gran Canaria, Las Palmas</p>
        </div>

        <div class="telefonoymail">
            <div class="teléfono">
                <i class="uil uil-phone"></i>
                <p>Teléfono:<br>+34 913753366</p>
            </div>
            <div class="mail">
                <i class="uil uil-envelope"></i>
                <p>Email:<br>contacto@email.com</p>
            </div>
        </div>
    </div>

    <div class="horario">
        <p>Horario:<br>Lunes - Viernes: 9:00-21:00<br>Sábado: 9:00-18:00</p>
    </div>

    <div class="RRSS">
        <div class="nuestras_redes">
            <h6>Nuestras Redes Sociales</h6>
        </div>
        <div class="instaytwitter">
            <div class="instagram">
                <i class="uil uil-instagram-alt"></i>
                <p>Instagram</p>
            </div>
            <div class="twitter">
                <i class="uil uil-twitter"></i>
                <p>Twitter</p>
            </div>
        </div>
    </div>

</div>